@{
    ViewBag.Title = "Dashboard";
    ViewBag.PageNav = "<a class='page-nav' href='" + Url.Action("", "Dashboard") + "'>Dashboard</a><i class='page-nav-divider'></i><span class='page-nav-current'>create</span>";

    Layout = "~/Views/Shared/_layout.cshtml";
}
